extends ../layout

block content
    div.root
        form(method="post")
            input(type="email", name="email")
            input(type="password", name="password")
            button(type="submit") Log In